Repository Nishke-Paz/timetable-for-students: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.html": [
    "eslint --fix"
  ],
  "*.ts": [
    "eslint --fix"
  ],
  "*.less": [
    "stylelint --fix"
  ]
}

basic components added, authentication implemented
  angular.json
  package.json
  proxy.conf.json
  src/index.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.ts
  src/stt-app/stt-app-components/stt-header/stt-header.component.html
  src/stt-app/stt-app-components/stt-header/stt-header.component.less
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-login/stt-login.component.html
  src/stt-app/stt-app-components/stt-login/stt-login.component.less
  src/stt-app/stt-app-components/stt-login/stt-login.component.ts
  src/stt-app/stt-app-components/stt-not-found/stt-not-found.component.html
  src/stt-app/stt-app-components/stt-not-found/stt-not-found.component.less
  src/stt-app/stt-app-components/stt-not-found/stt-not-found.component.ts
  src/stt-app/stt-app-components/stt-user/stt-user.component.html
  src/stt-app/stt-app-components/stt-user/stt-user.component.ts
  src/stt-app/stt-app-routing/stt-app-routing.module.ts
  src/stt-app/stt-app.component.html
  src/stt-app/stt-app.component.less
  src/stt-app/stt-app.component.ts
  src/stt-app/stt-app.module.ts
  src/stt-app/stt-emitters/stt-emitter.ts
  src/stt-app/stt-resolvers/stt-auth.resolver.ts
  src/stt-app/stt-services/stt-auth.service.ts
Due: eslint --fix, stylelint --fix

connecting global styles
  angular.json
  src/styles.less
Due: stylelint --fix

added rx-unsubscribe
  src/stt-app/rx-unsubscribe.ts
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-login/stt-login.component.ts
  src/stt-app/stt-app.component.ts
Due: eslint --fix

added ngrx, implemented user panel without styles for the timetable
  package.json
  proxy.conf.json
  src/stt-app/stt-app-components/stt-header/stt-header.component.html
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-search/stt-search.component.html
  src/stt-app/stt-app-components/stt-search/stt-search.component.less
  src/stt-app/stt-app-components/stt-search/stt-search.component.ts
  src/stt-app/stt-app-components/stt-user/stt-user.component.html
  src/stt-app/stt-app-components/stt-user/stt-user.component.ts
  src/stt-app/stt-app-routing/stt-app-routing.module.ts
  src/stt-app/stt-app.component.ts
  src/stt-app/stt-app.module.ts
  src/stt-app/stt-services/stt-server.service.ts
  src/stt-app/stt-store/actions/stt-current-group.actions.ts
  src/stt-app/stt-store/actions/stt-group-list.actions.ts
  src/stt-app/stt-store/reducers/stt-current-group.reducer.ts
  src/stt-app/stt-store/reducers/stt-group-list.reducer.ts
  src/stt-app/stt-store/selectors/stt-current-group.selector.ts
  src/stt-app/stt-store/selectors/stt-list-group.selector.ts
  src/stt-app/stt-store/state/stt-app.state.ts
  src/stt-app/stt-store/state/stt-group-list.state.ts
  src/stt-app/stt-store/state/stt-group.state.ts
  src/stt-app/stt-store/stt-timetable.effects.ts
Due: eslint --fix, stylelint --fix

entity adapter use
  src/stt-app/stt-app-components/stt-search/stt-search.component.ts
  src/stt-app/stt-services/stt-server.service.ts
  src/stt-app/stt-store/actions/stt-group-list.actions.ts
  src/stt-app/stt-store/model/stt-group.model.ts
  src/stt-app/stt-store/reducers/stt-current-group.reducer.ts
  src/stt-app/stt-store/reducers/stt-group-list.reducer.ts
  src/stt-app/stt-store/selectors/stt-list-group.selector.ts
  src/stt-app/stt-store/state/stt-group-list.state.ts
  src/stt-app/stt-store/stt-timetable.effects.ts
Due: eslint --fix

added pipe, styles for timetable; header changed
  src/stt-app/stt-app-components/stt-header/stt-header.component.html
  src/stt-app/stt-app-components/stt-header/stt-header.component.less
  src/stt-app/stt-app-components/stt-pipes/stt-time.pipe.ts
  src/stt-app/stt-app-components/stt-search/stt-search.component.html
  src/stt-app/stt-app-components/stt-search/stt-search.component.less
  src/stt-app/stt-app.module.ts
Due: eslint --fix, stylelint --fix

/logout, ng-template
  src/stt-app/stt-app-components/stt-header/stt-header.component.html
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-search/stt-search.component.html
  src/stt-app/stt-app-routing/stt-app-routing.module.ts
  src/stt-app/stt-resolvers/stt-logout.resolver.ts
Due: eslint --fix

delete in admin panel; search in a separate component
  proxy.conf.json
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.less
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.ts
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-search-group/stt-search-group.component.html
  src/stt-app/stt-app-components/stt-search-group/stt-search-group.component.less
  src/stt-app/stt-app-components/stt-search-group/stt-search-group.component.ts
  src/stt-app/stt-app-components/stt-search/stt-search.component.ts
  src/stt-app/stt-app-components/stt-user/stt-user.component.html
  src/stt-app/stt-app-components/stt-user/stt-user.component.less
  src/stt-app/stt-app-components/stt-user/stt-user.component.ts
  src/stt-app/stt-app-routing/stt-app-routing.module.ts
  src/stt-app/stt-app.component.ts
  src/stt-app/stt-app.module.ts
  src/stt-app/stt-services/stt-server.service.ts
  src/stt-app/stt-store/actions/stt-current-group.actions.ts
  src/stt-app/stt-store/actions/stt-group-for-admin.actions.ts
  src/stt-app/stt-store/reducers/stt-current-group.reducer.ts
  src/stt-app/stt-store/reducers/stt-group-for-admin.reducer.ts
  src/stt-app/stt-store/selectors/stt-group-for-admin.selector.ts
  src/stt-app/stt-store/state/stt-app.state.ts
  src/stt-app/stt-store/state/stt-group-for-admin.state.ts
  src/stt-app/stt-store/stt-timetable.effects.ts
Due: eslint --fix, stylelint --fix

local storage instead of cookies
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.less
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.ts
  src/stt-app/stt-app-components/stt-header/stt-header.component.ts
  src/stt-app/stt-app-components/stt-search-group/stt-search-group.component.ts
  src/stt-app/stt-app-components/stt-user/stt-user.component.ts
  src/stt-app/stt-app.component.ts
Due: eslint --fix, stylelint --fix

the ability to add a new group and lesson in the admin panel
  proxy.conf.json
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.less
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.ts
  src/stt-app/stt-app-components/stt-search-group/stt-search-group.component.less
  src/stt-app/stt-services/stt-server.service.ts
  src/stt-app/stt-store/state/stt-group.state.ts
Due: eslint --fix, stylelint --fix

the ability to delete and edit a group in the admin panel
  proxy.conf.json
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.html
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.less
  src/stt-app/stt-app-components/stt-admin-panel/stt-admin-panel.component.ts
  src/stt-app/stt-services/stt-server.service.ts
Due: eslint --fix, stylelint --fix
